<html>

<head>
    <meta charset="UTF-8">

    <!-- import Vue before Element -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        overflow: hidden;
        color: #333;
    }

    .container {
        width: 100%;
    }

    .entitylist-filter-option-group .h4 {
        font-size: 15px;
        color: #d83b01;
    }

    .input-group-addon:first-child {
        display: none;
    }

    input.form-control {
        border: 1px solid #c6c6c6;
    }

    .el-submenu__title {
            font-size: 16px;
    }
    .el-menu-item{
            font-size: 16px;
    }
</style>





<body>
    <input id="userinter" style="display: none;" value="{{ user.fullname | json }}">
    <div id="app">
        <el-container style="height: 100%; border: 1px solid #eee">

            <el-container>
                <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                    <el-menu :default-openeds="['1', '3']">
                        {% block sidebar %}
                        {% assign weblinkset_id = '353b8502-ecba-ec11-983f-000d3a85ad6e' %}
                        {% if weblinkset_id %}
                        {% assign nav = weblinks['353b8502-ecba-ec11-983f-000d3a85ad6e'] %}
                        {% if nav %}
                        {% assign oindex = 0 %}
                        {% for link in nav.weblinks %}
                        {% assign oindex = oindex | plus: 1 %}

                        <el-submenu index={{ oindex }}>
                            <template slot="title">
                                {%- if link.weblinks.size > 0 -%}
                                <a class="dropdown-toggle" data-toggle="dropdown" title={{ link.name }}
                                    aria-haspopup="true" href={{ link.url }} aria-expanded="false">
                                    {{ link.name }}
                                </a>
                                {%- endif -%}
                                {%- if link.weblinks.size == 0 -%}
                                <a class="dropdown-toggle" href={{ link.url }}>
                                    {{ link.name }}
                                </a>
                                {%- endif -%}
                                {%- if link.weblinks.size > 0 -%}
                                <span class="caret"></span>
                                {%- endif -%}
                            </template>
                            {% assign windex = 1 %}
                            {% assign windex1 = 1 %}
                            {% for link in link.weblinks %}
                            {% assign windex = windex | plus: 1 %}
                            <el-menu-item index={{ oindex }}-{{ windex }}>
                                <a href={{ link.url }}>
                                    {{ link.name }}
                                </a>
                            </el-menu-item>
                            {% endfor %}
                        </el-submenu>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endblock %}



                    </el-menu>
                </el-aside>
                <el-main>
                    {% block content %}
                    <div class="row">
                        <div class="col-md-9 left-column">
                        
                            <div class=page-copy>
                            
                                {% include 'Page Copy' %}
                            </div>
                        </div>
                        <div class="col-md-3 right-column">
                            <div class=page-copy class="col-md-6 left-column">
                                {% editable snippets '首页两列' type: 'html' %}
                            </div>
                            <div class=page-copy class="col-md-6 right-column">
                                {% editable snippets '右侧内容代码段' type: 'html' %}
                            </div>

                        </div>
                    </div>

                    {% endblock %}
                </el-main>

            </el-container>


        </el-container>
    </div>
</body>


</html>

<script>

    const vue = new Vue({
        el: '#app',
        data: function () {
            return {
                //tableData: [{
                //    date: '2016-05-02',
                //    name: '王小虎',
                //    address: '上海市普陀区金沙江路 1518 弄'
                //}]
            }
        }, computed: {
            tableData: function () {

                return Array(20).fill({
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }
                );
            }

        }
    })
    window.onload = function () {
        var html = ``
    };

    $("i[class='el-submenu__icon-arrow el-icon-arrow-down']").css("display", "none");
</script>